$breakpoint-sm: 575px;
$accent-purple: #6f42c1;

$navbar-height: 55px;
$toolbar-height: 50px;
$toolbar-breakpoint-height: 90px;
$paginator-height: 32.95px;
$post-grid-height: calc(100vh - #{$navbar-height} - #{$toolbar-height} - #{$paginator-height});
$post-grid-breakpoint-height: calc(#{$post-grid-height} - #{$toolbar-breakpoint-height} + #{$toolbar-height});

$toolbar-menu-bg-color: white;
$toolbar-menu-border-color: #c4c4c470;
$toolbar-menu-link-color-hover: #f1f1f1;

$filter-dropdown-menu-position-top: calc(#{$navbar-height} + #{$toolbar-height} - 11px);
$filter-dropdown-menu-breakpoint-position-top: calc(#{$navbar-height} + #{$toolbar-breakpoint-height} - 5px);

// $sidebar-title-font-size: 1.3rem;
// $sidebar-title-font-weight: 600;
// $sidebar-seperator-line-color: rgba(183, 0, 255, 0.185);   //#d1d0d0;
// $sidebar-seperator-line-values: 1px solid $sidebar-seperator-line-color;
// $sidebar-filter-links-hover-color: var(--purple);

$post-title-color: black;
$post-title-font-size: 0.9rem;
$post-company-name-color: #817f7f;
$post-company-name-font-size: 0.8rem;

// @mixin sidebar-filterbox {
//     padding: 10px 8px;
//     border-bottom: $sidebar-seperator-line-values;
// }

// @mixin sidebar-filterbox--title {
//     font-size: 0.9rem;
//     font-weight: 400;
//     margin: 0;
// }

// @mixin sidebar-filterbox-options {
//     margin: 0;
//     padding: 10px;
//     justify-content: center;
//     list-style: none;

//     button {
//         padding: 0;
//         border: 0;
//         background: transparent;
//         font-size: 0.85rem;
//         &:hover {
//             color: $sidebar-filter-links-hover-color;
//         }
//         a {
//             font-size: 0.85rem;
//             &:hover {
//                 color: $sidebar-filter-links-hover-color;
//             }
//         }
//     }
// }

@mixin filter-dropdown-container($menu-link-class, $display-type, $border-position) {
    // width: 10rem;
    width: max-content;
    height: 100%;
    min-width: 150px;
    max-width: calc(50vw - 20px);
    display: $display-type;
    flex-direction: column;
    overflow-y: scroll;
    border-#{$border-position}: 1px solid $toolbar-menu-border-color;
    #{$menu-link-class} {
        padding: 5px;
        min-height: 37px;
        cursor: pointer;
        border: 0;
        text-align: start;
        &:hover {
            color: $accent-purple;
            background: $toolbar-menu-link-color-hover;
        }
    }
}

.dashboard {
    height: 100vh;
    width: 100vw;
    padding-top: 55px;

    // CODE FOR SIDEBAR
    // display: grid;
    // grid-template-columns: 240px auto;
    // @media screen and (max-width: 1366px) {
    //     grid-template-columns: auto;
    // }
}

// SIDEBAR CSS

// .sidebar {
//     display: flex;
//     flex-direction: column;
//     padding: 65px 20px 10px 20px;
//     // border-right: 1px solid $sidebar-seperator-line-color;
//     overflow-y: auto;

//     @media screen and (max-width: 1366px) {
//         background: white;
//         position: fixed;
//         display: none;
//     }
// }

// .sidebar-title {
//     text-align: center;
//     font-size: $sidebar-title-font-size;
//     font-weight: $sidebar-title-font-weight;
//     border-bottom: $sidebar-seperator-line-values;
//     width: 100%;
// }

// .post-type-filterbox {
//     @include sidebar-filterbox;
// }

// .post-type-filterbox--title {
//     @include sidebar-filterbox--title;
// }

// .post-type-filterbox--options {
//     @include sidebar-filterbox-options;
//     a {
//         color: black;
//         &:hover {
//             text-decoration: none;
//             color: black;
//         }
//     }
// }

// .category-filterbox {
//     @include sidebar-filterbox;
// }

// .category-filterbox--title {
//     @include sidebar-filterbox--title;
// }

// .category-filterbox--options {
//     @include sidebar-filterbox-options;
// }

// .sub-category-filterbox {
//     @include sidebar-filterbox;
// }

// .sub-category-filterbox--title {
//     @include sidebar-filterbox--title;
// }

// .sub-category-filterbox--options {
//     @include sidebar-filterbox-options;
// }


// POST MAIN CSS

.post-main {
    display: grid;
    grid-template-rows: $toolbar-height $post-grid-height $paginator-height;
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-rows: $toolbar-breakpoint-height $post-grid-breakpoint-height $paginator-height;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    overflow: hidden;
    @media screen and (max-width: $breakpoint-sm) {
        flex-wrap: wrap;
        .search-bar-group {
            flex-basis: 100%;
            padding-bottom: 20px;
        }

        .add-post {
            padding: 0;
        }
    }
    @media screen and (max-width: 721px) {
        padding: 0 12px;
    }
}

.search-bar-group {
    flex: 1 0 auto;
    max-width: 550px;
    display: flex;
    align-items: center;

    .search-bar {
        flex: 0 1 auto;
        height: 38px;
        width: 100%;
        border: 2px solid black;
        padding: 0 25px;
        border-radius: 15px;
        &:focus {
            outline: none;
        }
    }
    
    .search-submit {
        flex: 0 0 auto;
        button {
            background: white;
            border: 0;
        }
    }
}

.add-post {
    display: none;
    padding-left: 20px;
    width: max-content;
    align-items: center;
    cursor: pointer;
    p {
        width: max-content;
        margin: 0;
        padding-right: 5px;
    }
    @media screen and (max-width: $breakpoint-sm) {
        display: flex;
    }
}

.filters-section {
    display: flex;
    justify-content: flex-end;
}

.filters-section-mobile {
    @media screen and (max-width: $breakpoint-sm) {
        padding-bottom: 10px;
        justify-content: space-between;
        flex-basis: 100%;
        .filter-dropdown {
            padding-left: 0;
        }

        .sort-dropdown {
            padding-left: 0;
        }
    }
}

.filter-dropdown {
    position: relative;
    width: max-content;
    padding-left: 20px;

    &:hover {
        .filter-dropdown-menu {
            display: flex;
        }
    }

    .filter-dropdown-btn {
        pointer-events: none;
        margin: 0;
        padding: 0;
        background: transparent;
        border: 0;
        margin-right: 5px;
    }

    .filter-dropdown-menu {
        display: none;
        flex-direction: row-reverse;
        overflow: hidden;
        max-height: 50vh;
        position: fixed;
        // top: calc(#{$navbar-height} + #{$toolbar-height} - 11px);
        top: $filter-dropdown-menu-position-top;
        background: #ffffff;
        border: 1px solid $toolbar-menu-border-color;
        right: 5px;
        @media screen and (max-width: $breakpoint-sm) {
            top: $filter-dropdown-menu-breakpoint-position-top;
        }
    }

}

.cat-container {
    @include filter-dropdown-container(".cat-name", flex, "left");
}

.subcat-container {
    @include filter-dropdown-container(".subcat-name", none, "right");
}

.sort-dropdown {
    position: relative;
    width: max-content;
    max-width: 50vw;
    padding-left: 20px;

    &:hover {
        .sort-dropdown-menu {
            display: flex;
            flex-direction: column;
        }
    }

    .sort-dropdown-btn {
        pointer-events: none;
        margin: 0;
        padding: 0;
        background: transparent;
        border: 0;
        margin-right: 5px;
    }
    
    .sort-dropdown-menu {
        display: none;
        position: fixed;
        background: white;
        border: 1px solid $toolbar-menu-border-color;
    }
    
    .sort-dropdown-menu-btn {
        // text-align: start;
        // background: transparent;
        // color: white;
        padding: 5px;
        height: 37px;
        cursor: pointer;
        border: 0;
        text-align: start;
        // border: 1px solid #8b8a8a5d;
        // border-bottom: 1px solid #8b8a8a5d;
        // border-right: 1px solid #8b8a8a5d;
        
        &:hover {
            color: $accent-purple;
            background: $toolbar-menu-link-color-hover;
        }

    }

}


.post-grid {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding: 15px 24px 0 24px;
    @media screen and (max-width: 1366px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1150px) {
        grid-template-columns: 1fr 1fr;
        padding: 15px 48px 0 48px;
        gap: 48px;
        .post-container {
            height: calc(#{$post-grid-breakpoint-height} / 3 + 100px);
        }
    }
    @media screen and (max-width: 980px) {
        .post-container {
            height: calc(#{$post-grid-breakpoint-height} / 3 + 50px);
        }
    }
    
    @media screen and (max-width: 850px) {
        padding: 15px 24px 0 24px;
        gap: 24px;
    }
    @media screen and (max-width: 721px) {
        grid-template-columns: 1fr;
        padding: 15px 72px 0 72px;
        .post-container {
            height: calc(#{$post-grid-breakpoint-height} / 3 + 100px);
        }
    }
    @media screen and (max-width: 615px) {
        padding: 15px 72px 0 72px;
        .post-container {
            height: calc(#{$post-grid-breakpoint-height} / 3 + 70px);
        }
    }
    @media screen and (max-width: 520px) {
        padding: 15px 32px 0 32px;
        .post-container {
            height: calc(#{$post-grid-breakpoint-height} / 3 + 75px);
        }
    }
    @media screen and (max-width: 420px) {
        padding: 15px 24px 0 24px;
        // .post-container {
        //     height: calc(#{$post-grid-breakpoint-height} / 3);
        // }
    }
}

.post-container {
    display: flex;
    flex-direction: column;
    height: calc((100vh - 55px - 50px - 32.95px) / 3);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    iframe {
        pointer-events: none;
        height: 100%;
    }

    p {
        padding: 0 0 5px 3px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .post-title {
        font-size: $post-title-font-size;
        color: $post-title-color;
    }
    
    .post-company {
        color: $post-company-name-color;
        font-size: $post-company-name-font-size;
    }

    &:hover {
        box-shadow: 2px 2px 2px 2px #6f00ff79;
        transition: box-shadow 200ms ease-out;
    }

}

.paginator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "previous pages next";
    justify-items: center;
    width: 100%;
    align-items: center;

    p {
        margin: 0;
        padding: 0;
    }

    @mixin paginator-navigation {
        
    }

    .paginator-previous {
        grid-area: previous;
        p {
            color: black;
            &:hover {
                color: $accent-purple;
            }
        }
    }
    
    .paginator-pages {
        grid-area: pages;
        font-size: 0.85rem;
        width: max-content;
    }
    
    .paginator-next {
        grid-area: next;
        p {
            color: black;
            &:hover {
                color: $accent-purple;
            }
        }
    }
}
