@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: large;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.navbar-galaxyzpj,
.navbar-custom-bg-dark {
  background: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
}

.navbar-galaxyzpj .nav-link,
.navbar-custom-bg-dark .nav-link {
  color: black;
  margin: 4px 0 0 1rem;
  padding: 0;
  display: inline-block;
}

.navbar-galaxyzpj .nav-link:hover,
.navbar-custom-bg-dark .nav-link:hover {
  color: #6f42c1;
}

@media screen and (min-width: 576px) {
  .navbar-galaxyzpj .nav-link--signup,
  .navbar-custom-bg-dark .nav-link--signup {
    color: #6f42c1;
    margin-top: 0;
    padding: 2px 0 2px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    font-weight: bold;
  }
  .navbar-galaxyzpj .nav-link--signup:hover,
  .navbar-custom-bg-dark .nav-link--signup:hover {
    color: purple;
    background: none;
  }
}

@media screen and (max-width: 575px) {
  .navbar-galaxyzpj .collapse-li,
  .navbar-custom-bg-dark .collapse-li {
    width: 100%;
    background: white;
  }
  .navbar-galaxyzpj .collapse-li .nav-link,
  .navbar-custom-bg-dark .collapse-li .nav-link {
    padding: 2px 0 5px 0;
  }
}

.navbar-galaxyzpj .nav-vendor-dropdown,
.navbar-custom-bg-dark .nav-vendor-dropdown {
  position: relative;
}

.navbar-galaxyzpj .nav-vendor-dropdown:hover .nav-dropdown-menu,
.navbar-custom-bg-dark .nav-vendor-dropdown:hover .nav-dropdown-menu {
  display: block;
}

.navbar-galaxyzpj .nav-vendor-dropdown .nav-dropdown-btn,
.navbar-custom-bg-dark .nav-vendor-dropdown .nav-dropdown-btn {
  background: transparent;
  padding: 0;
  color: black;
  border: none;
}

.navbar-galaxyzpj .nav-vendor-dropdown .nav-dropdown-btn:focus,
.navbar-custom-bg-dark .nav-vendor-dropdown .nav-dropdown-btn:focus {
  outline: none;
}

.navbar-galaxyzpj .nav-vendor-dropdown .nav-dropdown-btn i,
.navbar-custom-bg-dark .nav-vendor-dropdown .nav-dropdown-btn i {
  padding-left: 8px;
}

.navbar-galaxyzpj .nav-vendor-dropdown .nav-dropdown-menu,
.navbar-custom-bg-dark .nav-vendor-dropdown .nav-dropdown-menu {
  background: white;
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c4c4c470;
}

.navbar-galaxyzpj .nav-vendor-dropdown .nav-dropdown-menu-link,
.navbar-custom-bg-dark .nav-vendor-dropdown .nav-dropdown-menu-link {
  text-align: start;
  color: black;
  display: block;
  width: 100%;
  padding: 5px 10px;
}

.navbar-galaxyzpj .nav-vendor-dropdown .nav-dropdown-menu-link:hover,
.navbar-custom-bg-dark .nav-vendor-dropdown .nav-dropdown-menu-link:hover {
  text-decoration: none;
  color: #6f42c1;
  background: #f1f1f1;
}

.navbar-brand {
  color: #6f42c1;
  font-weight: 700;
}

.navbar-brand:hover {
  color: purple;
}

.navbar-collapse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-collapse-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-toggler,
.navbar-toggler-collapsed {
  padding: 5px 0;
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler-collapsed:focus {
  outline: none;
}

#createPost {
  cursor: pointer;
  color: white;
  display: none;
}

@media screen and (min-width: 576px) {
  #createPost {
    margin-top: 0;
    padding: 2px 8px 2px 8px;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    background: black;
    display: inline-block;
  }
  #createPost:hover {
    background: #6f42c1;
  }
}

.navbar-toggler-icon img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=base.css.map */