$tile-hover-color-1: #6d24b3;
$tile-hover-color-2: #2b22ad;

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

@mixin create-post-link {
    // color: white;
    margin-top: 0;
    padding: 2px 8px 2px 8px;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    background: black;
    &:hover {
        background: var(--purple);
    }
}

@mixin navbar-theme(
    $nav-bg,
    $nav-link-color,
    $nav-link-color-hover,
    $nav-link-signup-font-color,
    $nav-link-signup-bg-color,
    $nav-link-signup-bg-color-hover,
    $nav-link-signup-font-color-hover
) {
    background: $nav-bg;
    justify-content: space-between;
    height: 55px;
    .nav-link {
        color: $nav-link-color;
        margin: 4px 0 0 1rem;
        padding: 0;
        display: inline-block;
        &:hover {
            color: $nav-link-color-hover;
        }
    }

    .nav-link--signup {
        @media screen and (min-width: 992px) {
            color: $nav-link-signup-font-color;
            margin-top: 0;
            padding: 2px 0 2px 0;
            border: 2px solid white;
            border-radius: 8px;
            background: $nav-link-signup-bg-color;
            font-weight: bold;
    
            &:hover {
                color: $nav-link-signup-bg-color-hover;
                background: $nav-link-signup-font-color-hover;
            }
        }
    }
}

* {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: large;
}

html {
    height: 100vh !important;
    width: 100vw !important;
}

body {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0;
    background-size: cover;
}

.navbar-custom-bg-dark {
    @include navbar-theme(linear-gradient(#000, #0000), white, var(--purple), white, var(--purple, purple), black, white);
}

.navbar-galaxyzpj {
    @include navbar-theme(white, black, var(--purple), var(--purple), none, purple, none);
}

.navbar-brand {
    color: var(--purple);
    font-weight: 700;
    &:hover {
        color: purple;
    }
}

.navbar-collapse {
    flex-direction: row-reverse;
    align-items: center;
}

.nav-collapse-btn-group {
    display: flex;
    justify-content: flex-end;
}

#createPost {
    cursor: pointer;
    color: white;
    display: none;
    @media screen and (min-width: 992px) {
        @include create-post-link;
        display: inline-block;
    }
    &:hover {
        // color: var(--purple);
    }
}

.create-post-btn {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 992px) {
        display: none;
    }
}

#createPostCollapsed {
    // @include create-post-link;
    display: block;
    margin: 0 5px;
    background: url(/static/images/add-post.png);
}



.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon img { 
    height: 100%;
    width: 100%;
}
