$tile-hover-color-1: #892be2;
$tile-hover-color-2: #372be2;

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.carousel-item img {
    // height: 100vh;
    // width: 100vw;
    // @media screen and (max-width: 768px) {
    //     height: 80vw;
    //     width: 100vw;
    // }
}

// section {
//     width: 100vw;
//     height: 40vh;
// }

.tiles {
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    // flex-wrap: wrap;
    // width: 100vw;
    // height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    // background: #f3f3f3;
}

// .tile-container-1::before {
//     background: url(/static/images/home/tile-1.png) center no-repeat;
// }
// .tile-container-2::before {
//     background: url(/static/images/home/tile-2.png) center no-repeat;
// }
// .tile-container-3::before {
//     background: url(/static/images/home/tile-3.png) center no-repeat;
// }

// .tile-container::before {
//     // background: url(/static/images/home/tile-1.png) center no-repeat;
//     animation: infiniteRotation 7s linear infinite;
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     bottom: 0px;
//     right: 0px;
//     z-index: -1;
// }


.tile-container {
    // flex-grow: 1;
    // margin: 8px;
    // padding: 24px;
    overflow: hidden;
    display: flex;
    
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
    padding: 8px 5px;
    flex: 0 0 33.33%;
    // background: linear-gradient(to left bottom,$tile-hover-color-1, $tile-hover-color-2);
    height: 270px;
    width: 270px;
    border-radius: 5px;
    @media screen and (max-width: 768px) {
        border-radius: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // display: inline-block;
    // display: flex;
    // flex-direction: column;
    // justify-self: center;
    height: 80%;
    width: 80%;
    @media screen and (max-width: 1110px) {
        width: 85%;
    }
    @media screen and (max-width: 1000px) {
        width: 90%;
    }
    color: black;
    text-decoration: none;
    border-radius: 8px;
    p {
        margin: 0;
        padding-top: 24px;
        font-size: 2rem;
        @media screen and (max-width: 768px) {
            font-size: 1.6rem;
            height: 100%;
            margin-bottom: 32px;
        }
    }
    // border-radius: 64px;
    // background: linear-gradient(to left bottom,$tile-hover-color-1, $tile-hover-color-2);
    &:hover {
        text-decoration: none;
        color: black;
        p {
            transform: scale(1.15);
            transition: transform 200ms ease-out
        }
        // img {
        //     transform: translateY(-0.5rem);
        //     transition: transform 300ms ease-out;
        // }

        // .tile-text {
        //     transform: scale(1.15);
        //     transition: transform 300ms ease-out
        // }
    }
    img {
        // display: inline-block;
        height: 80px;
        width: 80px;
        margin-top: 8px;
        // position: relative;
    }
    @media screen and (max-width: 768px) {
        height: 100%;
        width: 100%;
        border-radius: 0;
        img {
            // height: 70px;
            // width: 70px;
            margin-top: 32px;
        }
    }
}

// @keyframes infiniteRotation {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }




// .tile-1::before {
//     background: url(/static/images/home/tile-1.png) center no-repeat;
// }

// .tile-2::before {
//     background: url(/static/images/home/tile-2.png) center no-repeat;
// }

// .tile-3::before {
//     background: url(/static/images/home/tile-3.png) center no-repeat;
// }
.tile-1 {
    background-color: #11a8ff;
}

.tile-2 {
    p {
        color: white;
    }
    background-color: #0f0b00;
}

.tile-3 {
    background-color: #ff8800;
}

// .tile-text {
//     // position: absolute;
//     flex-basis: 100%;
//     display: flex;
//     justify-content: center;
//     margin-top: 5px;
//     font-size: 2rem;
//     font-weight: 500;
//     // color: rgb(221, 220, 220);
//     // display: block;
//     // margin: 0 auto;
//     // align-self: center;
//     // position: relative;
//     // top: 35%;
// }
