.dashboard {
  height: 100vh;
  width: 100vw;
  padding-top: 55px;
}

.post-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px calc(100vh - 55px - 50px - 32.95px) 32.95px;
      grid-template-rows: 50px calc(100vh - 55px - 50px - 32.95px) 32.95px;
}

@media screen and (max-width: 575px) {
  .post-main {
    -ms-grid-rows: 90px calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) 32.95px;
        grid-template-rows: 90px calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) 32.95px;
  }
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .toolbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .toolbar .search-bar-group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 20px;
  }
  .toolbar .add-post {
    padding: 0;
  }
}

@media screen and (max-width: 721px) {
  .toolbar {
    padding: 0 12px;
  }
}

.search-bar-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar-group .search-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 38px;
  width: 100%;
  border: 2px solid black;
  padding: 0 25px;
  border-radius: 15px;
}

.search-bar-group .search-bar:focus {
  outline: none;
}

.search-bar-group .search-submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.search-bar-group .search-submit button {
  background: white;
  border: 0;
}

.add-post {
  display: none;
  padding-left: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.add-post p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding-right: 5px;
}

@media screen and (max-width: 575px) {
  .add-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.filters-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 575px) {
  .filters-section-mobile {
    padding-bottom: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .filters-section-mobile .filter-dropdown {
    padding-left: 0;
  }
  .filters-section-mobile .sort-dropdown {
    padding-left: 0;
  }
}

.filter-dropdown {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 20px;
}

.filter-dropdown:hover .filter-dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-dropdown .filter-dropdown-btn {
  pointer-events: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  margin-right: 5px;
}

.filter-dropdown .filter-dropdown-menu {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
  max-height: 50vh;
  position: fixed;
  top: calc(55px + 50px - 11px);
  background: #ffffff;
  border: 1px solid #c4c4c470;
  right: 5px;
}

@media screen and (max-width: 575px) {
  .filter-dropdown .filter-dropdown-menu {
    top: calc(55px + 90px - 5px);
  }
}

.cat-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  min-width: 150px;
  max-width: calc(50vw - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  border-left: 1px solid #c4c4c470;
}

.cat-container .cat-name {
  padding: 5px;
  min-height: 37px;
  cursor: pointer;
  border: 0;
  text-align: start;
}

.cat-container .cat-name:hover {
  color: #6f42c1;
  background: #f1f1f1;
}

.subcat-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  min-width: 150px;
  max-width: calc(50vw - 20px);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  border-right: 1px solid #c4c4c470;
}

.subcat-container .subcat-name {
  padding: 5px;
  min-height: 37px;
  cursor: pointer;
  border: 0;
  text-align: start;
}

.subcat-container .subcat-name:hover {
  color: #6f42c1;
  background: #f1f1f1;
}

.sort-dropdown {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 50vw;
  padding-left: 20px;
}

.sort-dropdown:hover .sort-dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sort-dropdown .sort-dropdown-btn {
  pointer-events: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  margin-right: 5px;
}

.sort-dropdown .sort-dropdown-menu {
  display: none;
  position: fixed;
  background: white;
  border: 1px solid #c4c4c470;
}

.sort-dropdown .sort-dropdown-menu-btn {
  padding: 5px;
  height: 37px;
  cursor: pointer;
  border: 0;
  text-align: start;
}

.sort-dropdown .sort-dropdown-menu-btn:hover {
  color: #6f42c1;
  background: #f1f1f1;
}

.post-grid {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 15px 24px 0 24px;
}

@media screen and (max-width: 1366px) {
  .post-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1150px) {
  .post-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 15px 48px 0 48px;
    gap: 48px;
  }
  .post-grid .post-container {
    height: calc(calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) / 3 + 100px);
  }
}

@media screen and (max-width: 980px) {
  .post-grid .post-container {
    height: calc(calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) / 3 + 50px);
  }
}

@media screen and (max-width: 850px) {
  .post-grid {
    padding: 15px 24px 0 24px;
    gap: 24px;
  }
}

@media screen and (max-width: 721px) {
  .post-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 15px 72px 0 72px;
  }
  .post-grid .post-container {
    height: calc(calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) / 3 + 100px);
  }
}

@media screen and (max-width: 615px) {
  .post-grid {
    padding: 15px 72px 0 72px;
  }
  .post-grid .post-container {
    height: calc(calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) / 3 + 70px);
  }
}

@media screen and (max-width: 520px) {
  .post-grid {
    padding: 15px 32px 0 32px;
  }
  .post-grid .post-container {
    height: calc(calc(calc(100vh - 55px - 50px - 32.95px) - 90px + 50px) / 3 + 75px);
  }
}

@media screen and (max-width: 420px) {
  .post-grid {
    padding: 15px 24px 0 24px;
  }
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc((100vh - 55px - 50px - 32.95px) / 3);
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.post-container iframe {
  pointer-events: none;
  height: 100%;
}

.post-container p {
  padding: 0 0 5px 3px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-container .post-title {
  font-size: 0.9rem;
  color: black;
}

.post-container .post-company {
  color: #817f7f;
  font-size: 0.8rem;
}

.post-container:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #6f00ff79;
          box-shadow: 2px 2px 2px 2px #6f00ff79;
  -webkit-transition: -webkit-box-shadow 200ms ease-out;
  transition: -webkit-box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out;
}

.paginator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "previous pages next";
  justify-items: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator p {
  margin: 0;
  padding: 0;
}

.paginator .paginator-previous {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: previous;
}

.paginator .paginator-previous p {
  color: black;
}

.paginator .paginator-previous p:hover {
  color: #6f42c1;
}

.paginator .paginator-pages {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pages;
  font-size: 0.85rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.paginator .paginator-next {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: next;
}

.paginator .paginator-next p {
  color: black;
}

.paginator .paginator-next p:hover {
  color: #6f42c1;
}

.video-player-div {
  height: 90%;
  width: 80%;
}

.video-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.video-player .video-context {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.video-player .video-context p {
  margin: 0;
  text-overflow: ellipsis;
}

.video-player .video-context .video-title {
  font-size: 1.5rem;
}

.video-player .video-context .video-company {
  font-size: 1rem;
}

.video-player iframe {
  width: 100%;
  height: 80%;
}
/*# sourceMappingURL=posts.css.map */