$backdrop-background-color: #000000d0;
$primary: #007bff;
$success: #28a745;
$danger: #dc3545;

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    background: $backdrop-background-color;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.backdrop-close {
    align-self: flex-end;
    justify-self: flex-start;
    z-index: 1;
    top: 0;
    right: 2;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

.backdrop-form-scroll {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.backdrop-form-div {
    position: relative;
    height: 80%;
    overflow: hidden;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: white;
    border-radius: 8px;
    @media screen and (max-width: 850px) {
        flex-basis: 80%;
    }
    @media screen and (max-width: 460px) {
        flex-basis: 95%;
    }

    input,
    select,
    textarea {
        height: 2.5rem;
        border: 2px solid black;
        border-radius: 5px;
    }

    .backdrop-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        overflow-y: scroll;
        
    }
    .backdrop-form::-webkit-scrollbar {
        display: none;
    }

    .backdrop-form--title {
        text-align: center;
        margin: 0 0 8px 0;
    }
    
    .backdrop-form-group {
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        input:focus,
        select:focus,
        textarea:focus {
            outline-color: #00000044;
        }
    }

    .backdrop-form-checkbox {
        padding: 5px 0;
        text-align: center;
        font-size: 0.9rem;
        input {
            height: max-content;
        }
    }

    .backdrop-form-group-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
            margin: 8px;
            color: white;
            border-radius: 8px;
            height: 2.7rem;
            width: 4.5rem;
        }
    } 
    
    .backdrop-form--submit {
        background-color: $success;
    }

    .backdrop-form--cancel {
        background-color: $danger;
    }

    .backdrop-form--watch {
        background-color: $primary;
    }
}