<div class="backdrop-form-div">
    <div class="backdrop-close" id="backdrop-close">X</div>
    <h1 class="backdrop-form--title">Login</h1>
    <form class="backdrop-form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {% if form.errors %}
        <p class="login-form--error">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="backdrop-form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="backdrop-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="backdrop-form-group-buttons">
            <button class="backdrop-close backdrop-form--cancel">Cancel</button>
            <button type="submit" class="backdrop-form--submit">Login</button>
        </div>
    </form>
</div>
