{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-body">
    <!-- Login Form Start -->
    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="login-form--title">
                <h2 class="">Welcome</h2>
                <h4>Please log in to continue</h4>
            </div>
            {% if form.errors %}
            <p class="login-form--error">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    <!-- Login Form Ends -->
</div>
{% endblock %}
