{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="home-div">
    <div class="banner-content">
        <form action="{% url 'posts' post_type='all' %}" class="banner-form">
            <h1 class="banner-form--title"><span class="big-first-alph">> </span>Explore our intensive library</h1>
            <div class="search-group">
                <input type="text" name=search placeholder="What can we help you find">
                <button class="search-group-btn"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="tiles">
        <div class="tiles-lifted">
            <div class="tile-container">
                <a class="tile" href="{% url 'posts' post_type='webinar' %}">
                    <img src="{% static 'images/home/webinar.png' %}">
                    <p>EXPLORE VIDEO DEMOS</p>
                </a>
            </div>
            <div class="tile-container">
                <a class="tile" href="{% url 'posts' post_type='upcoming' %}">
                    <img src="{% static 'images/home/upcoming.png' %}">
                    <p>DISCOVER UPCOMING WEBINARS</p>
                </a>
            </div>
            <div class="tile-container">
                <a class="tile" href="{% url 'posts' post_type='video' %}">
                    <img src="{% static 'images/home/video.png' %}">
                    <p>BROWSE RECORDED WEBINARS</p>
                </a>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
