{% extends 'base.html' %}
{% load static %}
{% load param_replace %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/posts.css' %}">

<div class="dashboard">

    <!-- SIDEBAR TO BE INSERTED HERE IF ANY -->

    <div class="post-main">
        <form class="toolbar" id="toolbar-form">

            <input type="hidden" name="sort_by" value="" id="sortHiddenInput">
            <input type="hidden" name="sub_category" value="{{ request.GET.sub_category }}" id="subcategoryHiddenInput">

            <div class="search-bar-group">
                <input class="search-bar" type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
                <span class=search-submit><button><i class="fa fa-search"></i></button></span>
            </div>

            {% if user.is_authenticated %}
            <div class="add-post">
                <p>Add Post</p><i class="fas fa-edit" id="addPost"></i>
            </div>
            {% endif %}
                
            <div class="filters-section {% if not user.is_authenticated %}filters-section-mobile{% endif %}">

                <div class="sort-dropdown">
                    <button class="sort-dropdown-btn">Sort by</button><i class="fas fa-caret-down"></i>
                    <div class="sort-dropdown-menu">
                        <a class="sort-dropdown-menu-btn" value="-created">Recently uploaded</a>
                        <a class="sort-dropdown-menu-btn" value="created">Oldest first</a>
                        <a class="sort-dropdown-menu-btn" value="title">Title (A-Z)</a>
                        <a class="sort-dropdown-menu-btn" value="-title">Title (Z-A)</a>
                        {% if request.path == '/posts/upcoming/' %}
                        <a class="sort-dropdown-menu-btn" value="date">Upclose</a>
                        <a class="sort-dropdown-menu-btn" value="-date">Later Future</a>
                        <a class="sort-dropdown-menu-btn" value="past">Past Webinars (ASC)</a>
                        <a class="sort-dropdown-menu-btn" value="-past">Past Webinars (DEC)</a>
                        {% endif %}
                    </div>
                </div>

                <div class="filter-dropdown">
                    <button class="filter-dropdown-btn">Categories</button><i class="fas fa-caret-down"></i>
                    <div class="filter-dropdown-menu">
                        <div class="cat-container">
                            {% for cat in cat_all %}
                            <a class="cat-name" value="{{ cat.id }}">{{ cat.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="subcat-container"></div>
                    </div>
                </div>

            </div>

        </form>
 
        <div class="post-grid-container">
            <div class="post-grid" id="post-grid">
                {% for post in posts %}
                <div class="post-container" post_id="{{ post.id }}">
                    <iframe src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                    <p class="post-title">{{ post.title }}</p>
                    <p class="post-company">@{{ post.user.company_name }}{% if request.path == '/posts/upcoming/' %} | {{ post.date }}{% endif %}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="paginator">
            {% if page_obj.has_previous %}
            <a class="paginator-previous" href="?{% param_replace page=page_obj.previous_page_number %}"><p><i class="fas fa-angle-double-left"></i></p></a>
            {% endif %}

            {% if is_paginated %}
            <p class="paginator-pages">{{ paginator.count }} results | Page {{ page_obj.number }} of {{ paginator.num_pages }}</p>
            {% else %}
            <p class="paginator-pages">{{ paginator.count }} results</p>
            {% endif %}

            {% if page_obj.has_next %}
            <a class="paginator-next" href="?{% param_replace page=page_obj.next_page_number %}"><p><i class="fas fa-angle-double-right"></i></p></a>
            {% endif %}
        </div>

    </div>

</div>

{% endblock content %}
