<div class="backdrop-form-div">
    <div class="backdrop-close" id="backdrop-close">X</div>
    <!-- <button class="backdrop-form-scroll"><a href="#tags">S</a></button> -->
    <h1 class="backdrop-form--title">Add Post</h1>
    <form class="backdrop-form" action="{% url 'addPost' %}" method="POST">
        {% csrf_token %}

        <div class="backdrop-form-group">
            <label for="postType">Post Type <span style="color: red;">*</span></label>
            <select name="type" id='type' required>
                <option value="" selected>---------</option>
                <option value="video">Video</option>
                <option value="webinar">Webinar</option>
                <option value="upcoming">Upcoming</option>
            </select>
        </div>

        <div class="backdrop-form-group">
            <label for="category">Category <span style="color: red;">*</span></label>
            <select name="category" id='category' required>
                <option value="" selected>---------</option>
                {% for category in categories %}
                <option class="selected-category" value="{{ category.pk }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="backdrop-form-group">
            <label for="subCategory">Sub Category <span style="color: red;">*</span></label>
            <select name="sub_category" id="subCategory" required>
                <option value="" selected>---------</option>
            </select>
        </div>

        <div class="backdrop-form-group">
            <label for="title">Title <span style="color: red;">*</span></label>
            <input type="text" name="title" required>
        </div>

        <div class="backdrop-form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="20" rows="3"></textarea>
        </div>

        <div class="backdrop-form-group" style="display: none;" id="dateFormGroup">
            <label for="date">Date <span style="color: red;">*</span></label>
            <input type="date" name="date" required>
        </div>

        <div class="backdrop-form-group">
            <label for="tags">Tags <span style="color: red;">*</span></label>
            <textarea name="tags" id="tags" cols="20" rows="3" required></textarea>
        </div>
        
        <div class="backdrop-form-group">
            <label for="videoURL">Video URL <span style="color: red;">*</span></label>
            <input type="url" name="video" required>
        </div>
        <div class="backdrop-form-group-buttons">
            <button class="backdrop-close backdrop-form--cancel">Cancel</button>
            <button class="backdrop-form--submit" type="submit">Add</button>
        </div>
    </form>
</div>
