<div class="backdrop-form-div">
    <div class="backdrop-close" id="backdrop-close">X</div>
    <h1 class="backdrop-form--title">Filter | Sort</h1>
    <form class="backdrop-form" method="GET">

        <input type="text" value="{{ type }}" name="type" style="display: none;">

        <div class="backdrop-form-group">
            {{ posts.form.category.label_tag }}
            <select name="category" id='category'>
                <option class="selected-category" value="" selected>---------</option>
                {% for category in categories %}
                <option class="selected-category" value="{{ category.pk }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="backdrop-form-group">
            {{ posts.form.sub_category.label_tag }}
            <select name="sub_category" id="subCategory">
                <option value="" selected>---------</option>
                {% for sub_category in sub_categories %}
                <option value="{{ sub_category.pk }}">{{ sub_category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="backdrop-form-group">
            {{ posts.form.sort_by.label_tag }}
            {{ posts.form.sort_by }}
        </div>

        <div class="backdrop-form-group-buttons">
            <button class="backdrop-close backdrop-form--cancel">Cancel</button>
            <button class="backdrop-form--submit" type="submit">Filter</button>
        </div>
    </form>
</div>
