{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if request.path == '/dashboard/' or request.path == '/add_post/' %}
        Dashboard
        {% else %}
        {{ type|title }}s
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'css/video_dashboard/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="dashboard-body">
        <div class="backdrop"></div>
        <div class="dashboard-sidebar">
            <!-- <a class="sidebar-back" href="{% url 'home' %}">BACK</a> -->
            <a class="sidebar-back" href="{% url 'home' %}">HOME</a>
            <div class="sidebar-seperator"></div>
            <a href="">ABOUT</a>
            {% if user.is_authenticated %}
            <a class="sidebar-username" href="{% url 'dashboard' %}">{{ user|upper }}</a>
            <a href="{% url 'logout' %}">LOGOUT</a>
            {% else %}
            <a href="{% url 'login' %}">LOGIN</a>
            <a href="{% url 'signup' %}">SIGNUP</a>
            {% endif %}
        </div>
        <div class="dashboard-main">
            <div class="dashboard--toolbar">
                {% if type %}
                <form class="dashboard--toolbar-search-form" action="{% url 'posts' post_type=type %}">
                {% else %}
                <form class="dashboard--toolbar-search-form" action="{% url 'posts' post_type=None %}"></form>
                {% endif %}
                    <input class="search-bar" type="text" name="search" placeholder="Search">
                    <span class=search-submit><button type="submit"><i class="fa fa-search"></i></button></span>
                </form>
                {% if request.path == '/dashboard/' or request.path == '/add_post/' %}
                <a class="dashboard--toolbar-side-btn" id="add-post-btn">Add Post</a>
                {% else %}
                <a class="dashboard--toolbar-side-btn" id="filter-posts">Filter|Sort</a>
                {% endif %}
            </div>
            {% if posts %}

            <div class="dashboard--posts infinite-container">
                {% for post in posts %}
                <!-- <div class="dashboard--post-container infinite-item" post_id="{{ post.pk }}">
                    <a style="background-image: url('{{ post.thumbnail}}');">
                        <img src="{% static 'images/dashboard/play.png' %}" alt="">
                        <p>{{ post.title|truncatechars:50 }}</p>
                    </a>
                </div> -->
                <div class="dashboard--post-container infinite-item" post_id="{{ post.pk }}">
                    <iframe src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                    <img src="{% static 'images/dashboard/play.png' %}" alt="">
                </div>
                {% endfor %}
            </div>

            <div class="paginator">
                {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"><p>Load more posts</p></a>
                {% else %}
                <p>End of posts</p>
                {% endif %}
            </div>

            <p class="loading" style="display: none;">Loading</p>

            {% else %}

            <div class="dashboard--no-posts">
                <p>No posts found</p>
            </div>

            {% endif %}
        </div>
    </div>    
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
</script>

</html>
