{% extends 'base.html' %}
{% load static %}
{% load param_replace %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/video_dashboard/posts.css' %}">

<div class="dashboard">

    <!-- SIDEBAR TO BE INSERTED HERE IF ANY -->

    <div class="post-main">
        <form class="toolbar">

            <div class="search-bar-group">
                <input class="search-bar" type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
                <span class=search-submit><button><i class="fa fa-search"></i></button></span>
            </div>

            {% if user.is_authenticated %}
            <div class="add-post">
                <p>Add Post</p><i class="fas fa-edit" id="addPost"></i>
            </div>
            {% endif %}
                
            <div class="filters-section {% if not user.is_authenticated %}filters-section-mobile{% endif %}">

                <div class="sort-dropdown">
                    <button class="sort-dropdown-btn">Sort by</button><i class="fas fa-caret-down"></i>
                    <div class="sort-dropdown-menu">
                        <button class="sort-dropdown-menu-btn" name="sort_by" value="latest">Recently uploaded</button>
                        <button class="sort-dropdown-menu-btn" name="sort_by" value="oldest">Oldest first</button>
                        <button class="sort-dropdown-menu-btn" name="date" value="latest">Date</button>
                        <button class="sort-dropdown-menu-btn" name="date" value="oldest">Date</button>
                        <!-- <button name="sort_by" value="">Title (A-Z)</button>
                        <button name="sort_by" value="">Title (Z-A)</button> -->
                    </div>
                </div>

                <div class="filter-dropdown">
                    <button class="filter-dropdown-btn">Categories</button><i class="fas fa-caret-down"></i>
                    <div class="filter-dropdown-menu">
                        <div class="cat-container">
                            {% for cat in cat_all %}
                            <button class="cat-name" name="category" value="{{ cat.category.id }}">{{ cat.category.name }}</button>
                            {% endfor %}
                        </div>
                        <div class="subcat-container">
                            {% for subcat in cat.sub_categories %}
                            <button class="subcat-name" name="sub_category" value="{{ subcat.id }}">{{ subcat.name }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </form>
 
        <div class="post-grid-container">
            <div class="post-grid" id="post-grid">
                {% for post in posts %}
                <div class="post-container" post_id="{{ post.id }}">
                    <iframe src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                    <p class="post-title">{{ post.title }}</p>
                    <p class="post-company">@{{ post.user.company_name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="paginator">
            {% if page_obj.has_previous %}
            <a class="paginator-previous" href="?{% param_replace page=page_obj.previous_page_number %}"><p><i class="fas fa-angle-double-left"></i></p></a>
            {% endif %} 

            {% if is_paginated %}
            <p class="paginator-pages">{{ paginator.count }} results | Page {{ page_obj.number }} of {{ paginator.num_pages }}</p>
            {% else %}
            <p class="paginator-pages">{{ paginator.count }} results</p>
            {% endif %}
    
            {% if page_obj.has_next %}
            <a class="paginator-next" href="?{% param_replace page=page_obj.next_page_number %}"><p><i class="fas fa-angle-double-right"></i></p></a>
            {% endif %}
        </div>

    </div>

</div>

{% endblock content %}
